.App {
  text-align: center;
}

.message {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color:#fa7c91;
  text-align:center;
}

.code{
  text-align: left;
}

.introAnimation {
  display: flex;
  height: 90px;
  width: 90px;
  
  float:right;
}

.introContainer {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.questMapContainer{
    margin: auto;
    /* left: 17%; */
    position: relative;
    width: 800px;
    height: 220px;
    /* background-color: floralwhite; */
}

 .codeAnimateContainer {
  display:inline-block;
  width: 90%;
}  



.requestContainer {
  height: 400px;
 
}
.requestAnimateContainer {
  margin: auto;
  position: relative;
  width: 800px;
  height: 300px;
}

.requestTextContainer {
  margin: auto;
  justify-content: center;
  height: 100px;
  padding: 20px;
  width: 800px;
}

.socketContainer{
  height: 650px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 90px;
}

.socketAnimateContainer{
  margin: auto;
  position: relative;
  width: 800px;
  height: 300px;
}


/* not in use */
.onlineContainer{
  display: flex;
  justify-content: space-around;
  text-align: center;
  position: relative;
  height: 800px;
  background-color: lightblue;
}

.userContainer{
  position: relative;
  width: 100px;
  height: 120px;
  text-align: center;
  /* background-color: lightblue; */
  overflow-wrap: break-word;
}

.messageCenterContainer{
  width: 300px;
  /* position: absolute;
  left: 10%; */
}